<odoo>
    <menuitem
            id="menu_intervention_root"
            name="Gestion des interventions"
    />

    <menuitem
        id="menu_intervention"
        name="Interventions"
        action="action_intervention"
        parent="menu_intervention_root"
    />

    <menuitem
        id="menu_technicien"
        name="Techniciens"
        action="action_technicien"
        parent="menu_intervention_root"
    />
</odoo>