.form_intervention{
    margin: 10px auto;
    width: 800px;
    display: flex;
    padding-bottom: 10px;
}

.center_group_title{
    padding: 20px;
    border-radius: 20px;
}

.center_group_title:hover{
    background-color: #f1f1f1;
}


.button{
    border-radius: 10px;
    background-color: #0d76a8;
    color: white;
    margin: 10px;
}


.button:hover{
    background-color:  #67a6bd;
    color: white;
    border:solid  #67a6bd;
}

.o_arrow_button[data-value="terminee"],
.o_arrow_button[data-value="en_cours"],
.o_arrow_button[data-value="nouveau"] {
    background-color: #67a6bd !important;
    color: white !important;
}

.o_statusbar_status .o_arrow_button.o_arrow_button_current {
    background-color: #0d76a8 !important;
    color: white !important;
}

.o_list_view .o_data_row.o_data_row_decoration_success {
    background-color: #28a745 !important;
    color: white !important;
}


.custom_kanban_card {
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.custom_kanban_card:hover {
    transform: translateY(-5px);
}

/* Haute priorité */
.high-priority {
    background: #dc3545;
    color: white;
    border-left: 8px solid #8b0000;
}

/* Priorité moyenne */
.medium-priority {
    background: #ffc107;
    color: black;
    border-left: 8px solid #d39e00;
}

/* Priorité basse */
.low-priority {
    background: #198754;
    color: white;
    border-left: 8px solid #0f5132;
}


/*.o_list_view .o_data_row_decoration_success td{ background-color: green !important; }*/
/*.o_data_row_decoration_warning { background-color: orange !important; }*/
/*.o_data_row_decoration-danger  { background-color: red !important; }*/




/*.o_list_view tr.text-success td {*/
/*    background-color: #27ae60 !important;*/
/*    color: white !important;*/
/*}*/

/*.o_list_view tr.text-warning td {*/
/*    background-color: #e67e22 !important;*/
/*    color: black !important;*/
/*}*/

/*.o_list_view tr.text-danger td {*/
/*    background-color: #3498db !important;*/
/*    color: white !important;*/
/*}*/



